<configuration>

    <!--Console-->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %highlight(%msg%n){
                FATAL=red bold,
                ERROR=red bold,
                WARN=yellow,
                INFO=green,
                DEBUG=cyan,
                TRACE=blue
                }
            </pattern>
        </encoder>
    </appender>

    <!--File-->

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/build-cli-logs.log</file>
        <append>true</append>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>


    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>